
CREATE TABLE IF NOT EXISTS raw_responses (
  id SERIAL PRIMARY KEY,
  shop_id VARCHAR(255),
  endpoint TEXT,
  data_json TEXT,
  captured_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS keywords (
  keyword VARCHAR(255) PRIMARY KEY,
  total_results INT,
  last_scanned TIMESTAMP,
  is_tracked BOOLEAN DEFAULT false
);
CREATE INDEX IF NOT EXISTS idx_kw_tracked ON keywords(is_tracked);

CREATE TABLE IF NOT EXISTS shops (
  shop_id VARCHAR(255) PRIMARY KEY,
  shop_name VARCHAR(255),
  url VARCHAR(255),
  icon_url VARCHAR(255),
  transaction_sold_count INT,
  review_average REAL,
  review_count INT,
  listing_active_count INT,
  announcement TEXT,
  currency_code VARCHAR(10),
  shop_location_country_iso VARCHAR(10),
  is_tracked BOOLEAN DEFAULT false,
  last_scan TIMESTAMP
);
CREATE INDEX IF NOT EXISTS idx_shops_tracked ON shops(is_tracked);

CREATE TABLE IF NOT EXISTS listings (
  listing_id VARCHAR(255) PRIMARY KEY,
  shop_id VARCHAR(255) REFERENCES shops(shop_id),
  title TEXT,
  description TEXT,
  url VARCHAR(255),
  price REAL,
  currency_code VARCHAR(10),
  views INT,
  num_favorers INT,
  quantity INT,
  tags TEXT,
  materials TEXT,
  image_url VARCHAR(500),
  is_tracked BOOLEAN DEFAULT false,
  last_scan TIMESTAMP
);
CREATE INDEX IF NOT EXISTS idx_listings_tracked ON listings(is_tracked);

CREATE TABLE IF NOT EXISTS snapshots (
  id SERIAL PRIMARY KEY,
  target_id VARCHAR(255),
  target_type VARCHAR(50), 
  views INT,
  favorites INT,
  quantity INT,
  price REAL,
  transaction_sold_count INT,
  capture_time TIMESTAMP,
  original_price REAL,
  shipping_price REAL,
  badges_json TEXT,
  last_modified_timestamp INT
);
CREATE INDEX IF NOT EXISTS idx_snapshots_target ON snapshots(target_id, target_type);

CREATE TABLE IF NOT EXISTS full_json_cache (
  target_id VARCHAR(255) PRIMARY KEY,
  target_type VARCHAR(50),
  data TEXT,
  last_updated TIMESTAMP
);

CREATE TABLE IF NOT EXISTS variation_snapshots (
  id SERIAL PRIMARY KEY,
  snapshot_id INT REFERENCES snapshots(id),
  sku VARCHAR(255),
  property_values_json TEXT,
  price REAL,
  quantity INT
);

CREATE TABLE IF NOT EXISTS users (
  id SERIAL PRIMARY KEY,
  username VARCHAR(255) UNIQUE,
  email VARCHAR(255) UNIQUE,
  google_id VARCHAR(255) UNIQUE,
  avatar_url VARCHAR(500),
  password_hash VARCHAR(255),
  role VARCHAR(50) DEFAULT 
'
user
'
,
  daily_limit INT DEFAULT 50,
  daily_usage INT DEFAULT 0,
  last_reset_date VARCHAR(50),
  subscription_end_date VARCHAR(50),
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS etsy_connections (
  id SERIAL PRIMARY KEY,
  user_id INT REFERENCES users(id),
  etsy_shop_id VARCHAR(255),
  shop_name VARCHAR(255),
  access_token TEXT,
  refresh_token TEXT,
  expires_at TIMESTAMP,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS oauth_states (
  state VARCHAR(255) PRIMARY KEY,
  code_verifier VARCHAR(255) NOT NULL,
  user_id INT,
  created_at TIMESTAMP
);

CREATE TABLE IF NOT EXISTS user_tracked_keywords (
  user_id INT,
  keyword VARCHAR(255),
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (user_id, keyword)
);

CREATE TABLE IF NOT EXISTS user_tracked_shops (
  user_id INT,
  shop_id VARCHAR(255),
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (user_id, shop_id)
);

CREATE TABLE IF NOT EXISTS user_tracked_listings (
  user_id INT,
  listing_id VARCHAR(255),
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (user_id, listing_id)
);

CREATE TABLE IF NOT EXISTS user_history_keywords (
  user_id INT,
  keyword VARCHAR(255),
  last_viewed TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (user_id, keyword)
);

CREATE TABLE IF NOT EXISTS user_history_shops (
  user_id INT,
  shop_id VARCHAR(255),
  last_viewed TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (user_id, shop_id)
);

CREATE TABLE IF NOT EXISTS user_history_listings (
  user_id INT,
  listing_id VARCHAR(255),
  last_viewed TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (user_id, listing_id)
);

